<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1>Welcome to SnAppy Parking!</h1>
<% if @user.car_users.count >= 1 %>
  <h3 class= "lead">You have registered the following cars:</h3>
  <h3 class= "lead">Select a car to see your tickets</h3>
    <ul>
      <table>
        <thead>
          <tr>
            <th col span="2" style="width: 75%"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @user.car_users.each do |cu| %>
            <tr>
              <td><%= link_to cu.car.make, car_user_path(cu) %></td>
              
              <td><%= link_to 'Destroy', cu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </ul>
  <% else %>
    <h4>You currently have no cars registered!</h4>
  <% end %>




<a class="btn btn-danger text-uppercase" href="/cars/new" role="button">Register a New Car</a>
<a class="btn btn-danger text-uppercase" href="/parking_zones" role="button">Find a Parking Space</a>



</div>
</div>
</div>



