
<div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">

<body class = "text-center" data-gr-c-s-loaded= "true">
<h1 class= "cover-heading">Welcome to SnAppy Parking!</h1>

<p class= "lead">Find parking in the Borough of Camden</p>
<p class=>Choose from thousands of spaces in Camden, with access to an unrivalled choice of the best spaces.</p>
<p class=>We’re parking obsessed. It began when we launched SnAppyParking, the tool that makes parking easy for everyone. By working so closely with the Camden Local Authorities, we realised the huge, untapped potential lying right under all of our feet.  </p>
<p>From our early days helping drivers park on driveways around sports stadiums to where we are now, helping drivers park across over 3,000 locations in the borough of Camden – SnAppy is now one of the most loved parking apps.</p>
<p>We make parking easy for drivers – We offer on-street and off-street parking options </p>
<p class=>Click to <%= link_to 'reserve', parking_zones_path %>  a guaranteed space. Trusted by over 3 million drivers across the UK.</p>



</body>


</div>
</div>
</div>
