

<nav><%= link_to "Create a New User", new_user_path %></nav>
<h1>Welcome to SnAppy Parking!</h1>

<h4>Find parking in the Borough of Camden</h4>
<h5>Choose from thousands of spaces in Camden, with access to an unrivalled choice of the best spaces.</h5>
<h5>We offer on-street and off-street parking options </h5> 
<h5>You can <%= link_to 'reserve', parking_zones_path %>  a guaranteed space. Trusted by over 3 million drivers across the UK.</h5>