<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">

<h1 class= "cover-heading text-center">Parking Zones</h1>
<p class= "lead">Select a Parking zone:</p>
<ul>
    <% @parking_zones.each do |parking_zone| %>
      <li class="text-danger"><%= link_to parking_zone.area_name, parking_zone %></li>  
    <% end %>
  </ul>
  <%= link_to '<button type="button" class="btn btn-danger text-uppercase ">Back</button>'.html_safe, user_path(current_user.id) %>
  


</div>
</div>
</div>

