
<h1><%= @parking_zone.area_name %>:</h1>
<h3>Street Name:</h3>
        <ul><% @parking_zone.unique_street_names.each do |street|%>
            <li><%= link_to street.street_name, street_ticket_path(:parking_zone_id => street.parking_zone_id, :street_name => street.street_name) %> - Number of spaces available: <%= street.number_active_spaces %> </li>
            
            <% end %>
        </ul>

        <%= link_to "Back", parking_zones_path %>
   