/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";

body {
    background: url('https://static.parclick.com/assets/img/animation/parclick/static-city-green.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  table.center {
    margin-left:auto; 
    margin-right:auto;
  }

  .menu-area a:hover {
    background: tomato;
    color: white;
  }
  
  h1{
    color: rgb(255, 115, 0);
  }

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-danger {
    background-color: rgb(255, 115, 0) !important;
}
 


